.title-page {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  margin: 54px 0 17px;
}

/* table */
.table {
  min-width: 1280px;
  border-collapse: separate;
  border-spacing: 0 35px;
}

.table th {
  height: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  background: #f2f2f2;
}
.table th:first-of-type {
  border-radius: 10px 0 0 10px;
}
.table th:last-of-type {
  border-radius: 0 10px 10px 0;
}

.check {
  width: 80px;
  margin-right: 10px;
}
.check-box {
  background: transparent;
}
.check-box svg {
  vertical-align: middle;
}

.info-txt {
  width: 618px;
}
.amount-txt {
  width: 242px;
}
.price-txt {
  width: 330px;
}

/* tbody.content */
.content {
  border-collapse: separate;
  border-spacing: 0 10px;
}
.content tr {
  position: relative;
}
.content td {
  vert-align: middle;
}

/* total-price-info */
.total-price-info {
  width: 1280px;
  display: flex;
  border-radius: 10px;
  background: #f2f2f2;
  margin: 45px 0 40px;
  position: relative;
}
.total-price-info div {
  width: 320px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  gap: 12px;
}
.total-price-info strong {
  font-size: 24px;
  font-weight: 700;
}

.total-price-info .sum-price {
  font-size: 16px;
  font-weight: 700;
}
.sum-price span {
  color: #eb5757;
  font-size: 18px;
  font-weight: 400;
}
.sum-price strong {
  font-size: 36px;
  font-weight: 700;
}

.total-price-info .sign {
  width: 34px;
  height: 34px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.total-price-info .sign.minus {
  left: 320px;
  background: url('../assets/icon-minus-2.svg') center no-repeat;
}
.total-price-info .sign.plus {
  left: 640px;
  background: url('../assets/icon-plus-2.svg') center no-repeat;
}

/* empty cart */
.empty {
  width: 100%;
  height: 50vh;
  padding-top: 165px;
}
.empty strong {
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
}
.empty span {
  display: block;
  color: #767676;
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}
