.layout {
}

.main {
  padding-bottom: 160px;
}

.section {
  width: 100%;
  margin: 80px 0 180px;
}

.items {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(3, minmax(380px, 1fr));
  gap: 78px 70px;
  grid-gap: 78px 80px;
  margin: 0 auto;
}
