.layout {
}

.main {
  width: 100%;
  margin: 80px auto;
  position: relative;
}

.info {
  max-width: 1280px;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin: 0 auto;
}

.image {
  width: 600px;
  height: 600px;
}
.image img {
  width: 100%;
  height: 100%;
}

.basics {
  font-weight: 400;
  margin-bottom: 138px;
}
.basics .seller {
  color: #767676;
  font-size: 18px;
}
.basics .title {
  color: #000;
  font-size: 36px;
  margin: 16px 0 20px;
}

.delivery {
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.wrap {
  margin: 30px 0;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 46px;
}

.total .title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
}

.ordered {
  display: flex;
  align-items: center;
  color: #767676;
  font-size: 18px;
  font-weight: 400;
}
.ordered .amount strong {
  color: #21bf48;
  font-size: 18px;
  font-weight: 700;
}
.ordered .amount:after {
  content: '|';
  display: inline-block;
  width: 5px;
  height: 23px;
  margin: 0 11px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
}

.details {
  max-width: 1280px;
  margin: 140px auto 360px;
}
