/* 페이지 제목 */
.search-title {
  text-align: left;
  color: #000000;
  font-size: 26px;
  font-weight: 500;
  line-height: 44px;
  margin: 54px 0 17px;
}
.search-title strong {
  color: #21bf48;
  font-size: 36px;
  font-weight: 700;
}
.search-title span {
  color: #eb5757;
}

/* 검색 결과 상세 텍스트 */
.info-txt {
  font-size: 20px;
  color: #222222;
  text-align: left;
  margin: 17px 0 34px;
}

/* 검색 결과 아이템 리스트 영역 */
.section {
  width: 100%;
  text-align: left;
  margin: 50px 0 180px;
}

/* 아이템 리스트 */
.items {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(3, minmax(380px, 1fr));
  gap: 78px 70px;
  grid-gap: 78px 80px;
  margin: 0 auto;
}

/* 검색 결과 없을 때 */
.search-no-data > p {
  color: #333333;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  background: url('../assets/icon-caution.svg') center no-repeat;
  padding-top: 160px;
  margin-top: 50px;
}
.search-no-data p strong {
  color: #21bf48;
}

.search-guide {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  padding: 20px 0;
  margin: 50px 0 10px;
}
.search-guide p {
  width: 50%;
  display: block;
  color: #333333;
  font-size: 18px;
  position: relative;
}
.search-guide p:before {
  display: block;
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  top: -6px;
  left: 30%;
  background: url('../assets/icon-search.svg') center no-repeat;
}
.search-guide ul {
  width: 50%;
}
.search-guide ul li {
  color: #767676;
  font-size: 13px;
  text-align: left;
  list-style: inside;
  padding-left: 8px;
  margin: 6px 0 0;
}
