.card {
  width: 380px;
  height: 490px;
}
.card:hover {
  text-decoration: underline;
}

.thumbnail {
  width: 380px;
  height: 380px;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.seller {
  display: block;
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.title {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
