/* common */
.input {
  width: 100%;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  outline: none;
  box-sizing: border-box;
}
.input::placeholder {
  color: #767676;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* LoginPage */
.input.login {
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 0 19px;
}

/* primary*/
.input.primary {
  font-weight: 400;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 17px 16px;
}

/* order */
.input.order {
  width: 334px;
}

/* number */
.input.number {
  width: 90px;
}
.input.number {
  margin-right: 10px;
}
.input.number:not(:first-of-type) {
  margin-left: 10px;
}

/* email */
.input.email {
  width: 140px;
  margin-right: 10px;
}

/* long */
.input.long {
  width: 800px;
}
