.container {
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  max-width: 1280px;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  width: 100%;
}

.search {
  width: 400px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 50px;
  border: 2px solid #21bf48;
  padding: 0 20px;
  margin-left: 30px;
}
.search input {
  width: 100%;
  height: 44px;
  border: none;
  outline: none;
  padding: 0;
}
.search button {
  width: 28px;
  height: 28px;
  background: none;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 26px;
}

.menu {
  display: inline-block;
  min-width: 46px;
  height: 50px;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  background: transparent;
  cursor: pointer;
}
.menu:before {
  content: '';
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 4px;
}

.menu.cart {
  background: url('../assets/icon-shopping-cart.svg') top no-repeat;
}
.menu.cart.active {
  color: #21bf48;
  background: url('../assets/icon-shopping-cart-2.svg') top no-repeat;
}
.menu.user,
.menu.user,
.menu.login {
  background: url('../assets/icon-user.svg') top no-repeat;
}
.menu.user.active {
  color: #21bf48;
  background: url('../assets/icon-user-2.svg') top no-repeat;
}

.my-page {
  width: 130px;
  height: 118px;
  border-radius: 4px 4px 4px 4px;
  position: absolute;
  right: -35px;
  bottom: -120%;
  z-index: 10;
}

.my-page .arrow {
  display: block;
  width: 30px;
  height: 30px;
  background: url('../assets/polygon-4.svg') top no-repeat;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
}

.my-page .list {
  width: 100%;
  height: calc(100% - 15px);
  color: #767676;
  font-size: 16px;
  font-weight: 500;
  background: #ffffff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 10px 0;
  position: absolute;
  top: 10px;
  z-index: 20;
}
.my-page .list li {
  text-align: center;
  cursor: pointer;
  padding: 10px 0;
  margin-bottom: 10px;
}
.my-page .list li:hover {
  color: #000000;
  border: 1px #767676 solid;
  border-radius: 5px;
}
